@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:wght@300;400;800&family=Raleway:wght@200;500&family=Roboto:wght@300&family=Source+Sans+Pro:wght@600;700&family=Ubuntu:wght@300&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
/* Navbar style */
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    background-color: black;
    height: 70px;
    color:#fff;
}
nav ul li{
    padding:0 12px;
}
.brand img{
    width: 44px ;
    padding:5px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
/* navbar style end */

/* Bottom style */
.container{
    min-height: 65vh;
    background-color: black;
    color: #fff;
    display: flex;
    width: 70%;
    margin: 30px auto;
    border-radius:11px;
    padding: 34px;
    background-image:url('bg.jpg');
    background-size: cover;

}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
.icons{
  margin-top: 14px;
  font-size: 25px;
}
.icons i{
    cursor: pointer;
}
#myProgressbar{
    width: 80vw;
    cursor: pointer;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: #fff;
    color: black;
    margin:12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 34px;
    border:1px solid #088d9e;
}
.songitem img{
    width:35px;
    margin: 0 20px;
    border-radius: 30px;
}
.timestamp{
    margin: 0 20px;
}
.songitem i{
    cursor: pointer;
}
.playbtn{
    margin: 8px 10px;
    font-weight: 700;
}
.songInfo{
    position: absolute;
    left: 10vw;
    margin-top: 14px;
}
.songInfo img{
    opacity: 0;
    margin-right: 30px;
    transition: opacity 0.4s ease-in;
}






















